<!DOCTYPE html>
<html>
<head lang="es-ar">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
	<% include partials/Head %>
	<link rel="stylesheet" type="text/css" href="css/styles-about.css">
	<title>Sobre mí</title>
</head>
<body>
<!--HEADER-->
<% include partials/Header %>
<!-- MAIN-->
<div id="fullpage">
	<section>
		<div class="container-fluid bg-img" style="background-image:url('img/blur-bg.jpg')">
			<div class="row">
				<div id="col_a" class="col-12 col-sm-6 col-md-6  col-lg-12 own-col-photo" >
					<div class="photo-profile-container">
						<img class="photo-profile" src="img/about.jpg">
						<div class="rombo-cover"></div>
					</div>
					<!-- TITULO -->
					<div class="blue-bar">
						<div class="blue-bar-container">
								<h1 class="title">Martín Planiscig</h1>
								<h4 class="subtitle">Desarrollador Front-End</h4>
						</div>
					</div>
				</div>
				<div id="col_b" class="col-12 col-sm-6 col-md-6 col-lg-12 wrapper">
					<div class="title-container-xl">
						<h1 class="title title-xl white">Martín Planiscig</h1>
						<h3 class="subtitle subtitle-xl">Desarrollador Front-End</h2>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
			<!-- SOBRE MI -->
	<section class="container wrapper responsive-fix">
		<div>
			<h3 class="title title-xl mb-2">Sobre mí</h3>
			<p> Me considero una persona creativa, con gustos clásicos, elegantes y minimalistas
				para la mayoria de las cosas, no me vendo cómo el típico "<em>perfeccionista</em>" más bien, encuentro placer
				en los trabajos bien hechos y cuando no, siempre estoy dispuesto a aprender y a mejorar
				todo lo que me proponga.<br>
				La comida saludable y mantenerse en forma son parte de mi dia a dia, "<em>un cuerpo sano, una mente sana</em>"
				es una frase que acompaña mi vida casi como una disciplina. Disfruto de las buenas películas, sí, de
				esas que pocos les gustaría ver. Tengo un gran deseo por viajar y conocer el mundo y otro por hacer
				de una afición cómo la programación en mi profesión!, <b>con rima y todo!</b>
			</p>
		</div>
	</section>
	<section class="container wrapper">
		<div class="w-100">
			<h3 class="title title-xl mb-2">Estudios</h3>
			<div class="list-group">
				<div class="d-res list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Instituto Del Pilar</h5>
						<small class="text-muted">2010-2015</small>
					</div>
					<p class="mb-1">Bachiller en Ciencias Sociales</p>
					<small class="text-muted">(Completado)</small>
				</div>
				<div class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Universidad Tecnológica Nacional</h5>
						<small class="text-muted">2016-2017</small>
					</div>
					<p class="mb-1">Tecnicatura Superior en Programación</p>
					<small class="text-muted">(No completado)</small>
				</div>
				<div class="active list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Educación IT</h5>
						<small>2017-2018</small>
					</div>
					<p class="mb-1">Certificación:<br>Javascript Developer</p>
					<small>(Completado)</small>
				</div>
			</div>
		</div>
	</section>
	<section class="container wrapper">
		<div class="w-100">
			<h3 class="title title-xl m-4 mb-2">Idiomas</h3>
			<p><b>Inglés</b>
				<ul>
					<li class="mb-3">Escritura:<span class="badge badge-success ml-3">Avanzado</span>
					<li class="mb-3">Lectura:<span class="badge badge-success ml-3">Avanzado</span>
					<li class="mb-3">Oral:<span class="badge badge-info ml-3">Intermedio</span>
				</ul>
			</p>
		</div>
	</section>
	<section class="container wrapper"> 
		<div class="w-100">
				<h3 class="title title-xl mb-3 mb-2">Experiencia laboral</h3>
				<div class="list-group own-list-group">
					<div class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Repositor</h5>
							<small class="text-muted">2017-2018</small>
						</div>
						<p class="mb-1">Supermercado "<em>Amor</em>"</p>
						<small></small>Almacenamiento de mercancía, mantención de higiene de las góndolas, control de stock, exhibición de
							mercadería y tareas generales.</small>
					</div>
				</div>
		</div>
	</section>
	<section class="container wrapper">
		<div class="w-100">
				<h3 class="title title-xl mb-2">Habilidades</h3>
				<h3 class="text-muted resize m-2">Adquiridas</h3>
				<div class="own-container-items d-flex justify-content-around">
					<i class="devicon-html5-plain own-icon-dev"></i>
					<i class="devicon-css3-plain own-icon-dev"></i>
					<i class="devicon-javascript-plain own-icon-dev"></i>
					<i class="devicon-jquery-plain own-icon-dev"></i>
					<i class="devicon-bootstrap-plain own-icon-dev"></i>
					<i class="devicon-git-plain own-icon-dev d-flex flex-wrap"></i>
					<i class="devicon-photoshop-plain own-icon-dev d-flex flex-wrap"></i>
				</div>
				<h3 class="text-muted resize m-2">En proceso de estudio</h3>
				<div class="own-container-items d-flex justify-content-around" style="font-size: 3rem;">
					<i class="devicon-nodejs-plain-wordmark own-icon-dev"></i>
					<i class="devicon-mongodb-plain-wordmark own-icon-dev"></i>
					<i class="devicon-sass-original own-icon-dev"></i>
					<i class="devicon-react-original own-icon-dev"></i>
				</div>
				<h3 class="text-muted resize">Otras</h3>
				<p> Buena comunicación y desarrollo con las personas, muy proactivo y
					entusiasta trabajando tanto solo, cómo en equipo, soy flexible y puntual
					con buena capacidad de brindar soluciones a cualqueir tipo de problema.
				</p>
		</div>
	</section>
	<section class="container-fluid wrapper last-sect">
		<div class="w-100 container">
			<h3 class="title title-xl m-4"><em>Curriculum Vitae</em></h3>
			<p class="m-10"><em>(Via Google Drive)</em></p>
			<div class="container">
				<div class="row">
					<div class="col-12 wrapper mb-5">
						<a href="https://drive.google.com/open?id=1yAYKwF_OPgWZFBmt-_8hmtbldLgN9EAB" target="_blank">
							<i class="fab fa-google-drive fa-3x own-icon-dev" style="color: #34495E;"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>		
</div>	 
<!--SCRIPTS & BOOTSTRAP-->
	<% include partials/Footer %>	
	<script src="script/jquery.fullpage.min.js"></script>
	<script src="script/about-script.js"></script>
</body>
</html>
