<!DOCTYPE html>
<html>
<head lang="es-ar">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
	<% include partials/Head %>
	<link rel="stylesheet" type="text/css" href="css/styles-contact.css">
	<title>Contacto</title>
</head>
<body>
<!--HEADER-->
	<% include partials/Header %>
<!--END HEADER-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-sm-12 col-md-12 own-col-left">
				<div class="own-social-side">
					<h1 >Contáctame</h1>
					<p>Si quieres saber algo más de mí que no hayas encontrado en mi sitio o solo precisas de mis habilidades como desarrollador, <em>¡no dudes en buscarme en mis redes sociales!</em><br>
					<em>planiscig.martin@gmail.com</em>
					</p>
					<br>
					<div class="social-container">
						<ul class="social-ul">
							<li class="social-li" data-toggle="tooltip" data-placement="bottom" title=";)"><a class="social-link" href="https://www.instagram.com/onlymarts_/"><i class="fab fa-instagram fa-3x social-icon"></i></a></li>
							<li class="social-li" data-toggle="tooltip" data-placement="bottom" title="¡A trabajar!"><a class="social-link" href="https://www.linkedin.com/in/mart%C3%ADn-planiscig-2aa187159/"><i class="fab fa-linkedin fa-3x social-icon"></i></a></li>
							<li class="social-li" data-toggle="tooltip" data-placement="bottom" title="¿</>?"><a class="social-link" href="https://github.com/iNiceTwice"><i class="fab fa-github-square fa-3x social-icon"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 own-col-video">
				<video autoplay loop muted><source src="img/bg-keyboard.mp4" type="video/mp4"></video>
			</div>
		</div>
	</div>
	
	<!--SCRIPTS & BOOTSTRAP-->
	<% include partials/Footer %>
</body>
</html>