<!DOCTYPE html>
<html>
	<head lang="es-ar">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="css/styles-main.css">
		<% include partials/Head %>
		<title>¡Bienvenido!</title>
	</head>
<body>
	<!--HEADER-->
	<% include partials/Header %>
	<!-- TITTLE -->
	<div class="overlay"></div>
	<div class="container-fluid">
		<div class="row own-row">
			<div class="col-12 text-center">
				<h1 class="text-center own-title">Bienvenido</h1>
				<h2 class="sub-title-first">Me llamo <span class="green-name"> Martín</span><span class="sub-title-first">, creador de este sitio web.</span></h2>
				<a href="/portfolio"><button class="btn btn-outline-light own-button" data-toggle="tooltip" data-placement="bottom" data-html="true" title="¡Contenido <b>Genial</b>!">Portfolio</button></a>
				<a href="/about"><button class="btn btn-responsive btn-outline-light own-button" data-toggle="tooltip" data-placement="bottom" data-html="true" title="¡Conóceme!">Sobre mí</button></a>
				<a href="/contact"><button class="btn btn-outline-light own-button" data-toggle="tooltip" data-placement="bottom" data-html="true" title="¿Que tal una <em>charla</em>?">Contacto</button></a>
			</div>
		</div>
	</div>	
	<!--SCRIPTS & BOOTSTRAP-->
	<% include partials/Footer %>
</body>
</html>