@import url('https://fonts.googleapis.com/css?family=Nunito:200');
.social-link{
    position: fixed;
    float: left !important;
    top: 3rem;
    right: 0;
    margin-right:1rem; 
    z-index: 200;
    background-color: transparent !important;
    color:black;
}
.social-link:hover{
    color:snow;
}
html{
    height: 100%;
    min-height: 100%;
}
body{
    background-color: #1ABC9C;
    height: 100%;
    min-height: 100%;
}
h1{
    text-shadow: 0px 2px 4px #333;
}
.flex-wrapper{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-box{
    display: block;
    width: 75% !important;
    
    background-color: snow; 
}
.main-color{
    color:snow;
}
.nunito{
    font-family: 'Nunito', sans-serif;
}
@media(max-width: 1200px){
 body{
        height: 700px;
    }
}
@media(max-width: 992px){
    .main-box{
        position: relative;
        top:0px;
    }
}
@media(max-width: 768px){
     h1{
        font-size: 1.7rem;
    }
    body{
        height: 600px;
    }
}
@media(max-width: 576px){
    body{
        height: 600px;
    }
    h1{
        font-size: 1.7rem;
      
    }
    .main-box{
        width: 100% !important;    
    }
}
